#### following is the notebook for finding sql operation in the codebase for finding sql injection vulnerability.

Regex for finding sql queries in the codebase.

>(SELECT|UPDATE|INSERT|DELETE|CREATE|DROP|ALTER)[\s\S]+?;\s*?$

In [ ]:
import sastgriper

In [ ]:
import pandas as pd

In [ ]:
regexString="(SELECT|UPDATE|INSERT|DELETE|CREATE|DROP|ALTER)[\s\S]+?;\s*?$"

In [ ]:
result=sastgriper.command_rec(regexString,"./cacti-develop/")
result

In [ ]:
TempList=[*result.values()][0]
LinkForVSCode=[]
for link in TempList:
    LinkForVSCode.append('http://localhost:5000/open_viscode?PathNLineNum='+link[0]+':'+link[1])
LinkForVSCode

In [ ]:
from IPython.display import HTML
sastDataFrame=pd.DataFrame([*result.values()][0],columns=['File Name','Code Line Number','Code Found'])

sastDataFrame.insert(3,"Open in VSCode",LinkForVSCode,True)
#sastDataFrame
def make_clickable(val):
    # target _blank to open new window
    return '<a target="_blank" href="{}">Open</a>'.format(val)

m=sastDataFrame.head(20).style.format({'Open in VSCode': make_clickable})

In [ ]:
sastDataFrame.shape
sastDataFrame[sastDataFrame['Code Found'].str.contains('\?')].head(20).style.format({'Open in VSCode': make_clickable})

In [30]:
sastDataFrame[~sastDataFrame['Code Found'].str.contains('\?')].head(20).style.format({'Open in VSCode': make_clickable})